@charset "UTF-8";
            body{
                font:sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
                background-color: #82EEFD;
                height: auto;
                justify-content: center;
                align-items: center; 
                padding-top: 80px;
                
            }

            nav{
                position: fixed; 
                top: 0;            
                width: 100%;
                background-color: #0A1172;
                color: black;
                padding: 20px;
                text-align: center;
                z-index: 1000;                
            }

            nav a{
                color: WHITE;
                margin: 0 15px;
                text-decoration: none;
                font-weight: bold;
            }

            nav a:hover{
                color:aquamarine;
                border-bottom:2px solid aquamarine;
            }


            .sidenav {
                position: fixed;
                top:55px;
                left: 0;
                width: 100px;           /* fixed width for sidebar */
                height: 100%;
                background-color: #0A1172; /* dark background */
                color: white;
                padding: 10px;
                overflow-y: auto;
            }

            .sidenav a {
                display: block;
                text-decoration: none;
                margin: 10px;
                padding: 10px;
                border-radius: 4px;
            }

            .sidenav a:hover {
                background-color: white;
            }

            /* Main content area */
            /*.main-content {
                margin-left: 50px;
                margin-top: 60px;
                flex: 1; /* take remaining width 
                padding: 20px;
            }*/

            section {
                padding: 80px;
                margin: 16px;
                margin-left: 120px;
                height: 100vh;
                width: 95%;
            }

            h1{
                Color: white;
                Font-size: 120px;
                text-align: center;
            }

            h2{
                Color: white;
                text-align: center;
            }

            h3{
                Color: white;
                text-align: center;
            }

            .welcome{
                text-align : center;
                text-decoration: underline;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
            
            p{
                color: black;
                Font-size: 20px;
                text-align: center;
            }

            ul{
                color: gray;
                Font-size: 20px;
                text-align: center;
            }

            html{scroll-behavior: smooth;}